<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/ContactDB"
              auth="Container"
              type="javax.sql.DataSource"
              factory="com.zaxxer.hikari.HikariJNDIFactory"
              jdbcUrl="jdbc:postgresql://localhost:5432/contactdb"
              username="admin"
              password="secret"
              maximumPoolSize="20"/>
</Context>
